.filterPane{
 color:#fff;
    display: inline-flex;align-items:center;
}
.filterPane select{

}
.filterPane select.form-control,.filterPane select:focus,.filterPane select:active{
    border:1px solid transparent !important;    font-weight: 500;
    border-color: transparent !important;
    background-color: transparent;
    background: transparent;
}