<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <select (ionChange)="setInt($event)" [(ngModel)]="chartInterval">
                <option [value]="a.value" *ngFor="let a of chartFilters">{{a.key}}

                </option>
            </select>

        </div>
        <div class="col-md-12 card">
            <app-plot [plotlyData]="plotlyData" [graphType]="'line'" [chartType]="'pressure'">
            </app-plot>

        </div>
        <div class="col-md-12">
            <!-- <app-plot [plotlyData]="plotlyData" [graphType]="'line'" [chartType]="'level'">

            </app-plot> -->

        </div>
    </div>
</div>
