<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 filterPane">
            <span><i class="fa fa-caret-down"></i></span>
            <select class="form-control" (ionChange)="setInt($event)" [(ngModel)]="chartInterval">
                <option [value]="a.value" *ngFor="let a of chartFilters">{{a.key}}

                </option>
            </select>

        </div>
        <div *ngIf="plotlyData.pressureData" class="col-md-12 card1">
            <app-plot [chartId]="'pressure'" [plotlyData]="plotlyData" [graphType]="'line'" [chartType]="'Pressure'">
            </app-plot>

        </div>
        <div *ngIf="plotlyData.levelData" class="col-md-12 card1">
            <!-- <app-plot [plotlyData]="plotlyData" [graphType]="'line'" [chartType]="'Level'">

            </app-plot> -->

        </div>
    </div>
</div>
