<div class="toolbar" role="banner">
    <span>Amar</span>
    <div class="spacer"></div>
    
  </div> 
<div class="container-fluid pt-1 t-dashboard">

    <!-- <p-dialog header="Title" [(visible)]="display">
        Content
    </p-dialog> -->
    <div class="row row-eq-height">
        <div class="pl-4 pr-4 col-xs-12 col-sm-4 col-md-7 panel">
            <div class="row-fluid">
                <div class="col-md-12 card a-tleft-bdr bdr1">
                    <app-startup></app-startup>
                </div>
            </div>
        </div>

        <div class="pl-4 pr-4 col-xs-6 col-sm-4 col-md-5 panel">
            <div class="row-fluid">
                <div class="col-md-12 card a-tright-bdr bdr1">
                    <i class="fa fa-user"></i>

         <!-- <app-startup></app-startup> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row row-eq-height">
        <div class="pl-4 pr-4 col-xs-12 col-sm-4 col-md-7 panel ">
            <div class="row-fluid">
                <div class="col-md-12 card a-bleft-bdr bdr1 bgc1">
                    <app-sensor-alert></app-sensor-alert>
                </div>
            </div>
        </div>

        <div class="pl-4 pr-4 col-xs-6 col-sm-4 col-md-5 panel">
            <div class="row-fluid">
                <div class="col-md-12 card a-bright-bdr bdr1">
                    <app-charts></app-charts>
                </div>
            </div>
        </div>
    </div>
   
</div>