<div class="container-fluid pt-1 t-dashboard">

    <!-- <p-dialog header="Title" [(visible)]="display">
        Content
    </p-dialog> -->
    <div class="row row-eq-height">
        <div class="pl-4 pr-4 col-xs-12 col-sm-4 col-md-7 panel">
            <div class="row-fluid">
                <div class="col-md-12 card a-tleft-bdr bdr1">
                    <app-startup></app-startup>
                </div>
            </div>
        </div>

        <div class="pl-4 pr-4 col-xs-6 col-sm-4 col-md-5 panel">
            <div class="row-fluid">
                <div class="col-md-12 card a-tright-bdr bdr1">
                    <i class="fa fa-user"></i>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#000000" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M12 19V6M5 12l7-7 7 7"/></svg>
                    <!-- <app-startup></app-startup> -->
                </div>
            </div>
        </div>
    </div>

    <div class="row row-eq-height">
        <div class="pl-4 pr-4 col-xs-12 col-sm-4 col-md-7 panel ">
            <div class="row-fluid">
                <div class="col-md-12 card a-bleft-bdr bdr1 bgc1">
                    <app-sensor-alert></app-sensor-alert>
                </div>
            </div>
        </div>

        <div class="pl-4 pr-4 col-xs-6 col-sm-4 col-md-5 panel">
            <div class="row-fluid">
                <div class="col-md-12 card a-bright-bdr bdr1">
                    <app-charts></app-charts>
                </div>
            </div>
        </div>
    </div>
   
</div>