<p-dialog [header]="addTab?'Add New':'Edit'"  [style]="{overflow:'hidden',padding:'30px',background:'#fff'}" [modal]="true"
    [(visible)]="display">
    <form [formGroup]="newForm">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Sensor Id:</label>
                            <div class="form-input">
                                <input class="form-control" type="text" formControlName="sensorID">

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Operator:</label>
                            <div class="form-input">
                                <select class="form-control" formControlName="operator">
                                    <option [value]="a.value" *ngFor="let a of myClass.operatorList">{{a.key}}

                                    </option>
                                </select>
                                <!-- <input class="form-control" type="text" formControlName="operator"> -->

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Value:</label>
                            <div class="form-input">
                                <input class="form-control" type="text" formControlName="value">

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Name:</label>
                            <div class="form-input">
                                <input class="form-control" type="text" formControlName="person_name">

                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label>Ph:</label>
                            <div class="form-input">
                                <input class="form-control" type="text" formControlName="phoneNO">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="row">
                    <div class="mb-2 mt-3 col-md-4 offset-md-4 text-center">
                        <button (click)="addTab?saveForm('add'):saveForm('edit')" class="btn btn-success btn-sm btn-block">{{addTab?'Create':'Update'}}</button>
                    </div>
                </div>
            </div>
        </div>
    </form>
</p-dialog>


<div class="row">
    <div class="col-md-12">
        <div class="row list-header ">
            <div class="title-container">
                List of Sensor Alerts
            </div>
            <div class="sort-container">
                <!-- <p-dropdown [options]="sortOptions" [(ngModel)]="sortKey" placeholder="Sort By" (onChange)="onSortChange()" [style]="{'min-width':'140px'}"></p-dropdown> -->
            </div>
        </div>
        <div class="row">
            
            <div  class="col-md-12">

                <!-- <div *ngIf="!myClass.data|| myClass.data.length==0" class="card minht">
                    <p-progressBar [style]="{'height': '16px'}" mode="indeterminate"></p-progressBar>
                    <p-progressBar [style]="{'height': '26px'}" mode="indeterminate"></p-progressBar>
                    <p-progressBar [style]="{'height': '36px'}" mode="indeterminate"></p-progressBar>

                </div> -->

                <div  class="">

                    <p-virtualScroller [value]="myClass.data" scrollHeight="220px" [itemSize]="70">
                        <!-- <p-header>

                        </p-header> -->
                        <ng-template let-sensor pTemplate="item" let-i="index">
                            <div class="m-2 card sensor-details">
                                <div class="row">
                                    <div class="col-md-2 icon-content text-center">


                                        <img src="../../../assets/sensor.png" />
                                        <i class="fa fa-2x"
                                            [ngClass]="{'text-success':sensor.status,'text-danger':!sensor.status,'fa-check':sensor.status,'fa-times':!sensor.status}"></i>

                                    </div>
                                    <div class="col-md-10 info-content text-left">
                                        <span (click)="edit(sensor)" class="spn-pencil crs"><i class="fa fa-edit"></i></span>

                                        <div class="row">
                                            <div class="col-md-12">
                                                <h5 class="text-warning">{{sensor.name?sensor.name:''}}</h5>
                                                <i class="fa fa-tag text-primary mr-2"></i>{{sensor.value}} -
                                                <span><i class="fa fa-phone text-info mr-2"></i> {{sensor.phoneno?sensor.phoneno:''}}</span>
        
                                            </div>
                                        </div>
                                       
                                    </div>
                                </div>                                
                            </div>
                        </ng-template>
                        <p-footer>
                            {{myClass.data.length==0?'No Data':''}}
                        </p-footer>
                    </p-virtualScroller>


                </div>
                <div class="text-right pr-3">
                    <span class="btn-link  pull-right t-mng crs" (click)="addNew()">Manage</span>

                </div>
            </div>

        </div>

    </div>
</div>