........6<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<style>

</style>
<!-- DC Menu Dock Settings: vertical style -->
<script type="text/javascript"> 
//   $(function () {

//     alert('dsds')
//   var jqDockOpts = {
//       align: 'left',
//       duration: 200,
//       labels: 'tc',
//       size: 42,
//       distance: 120,
//       maxWidth: 30
//   };
//   $('#jqDock').jqDock(jqDockOpts);
// }); 
</script>
<!-- DC Menu Dock Start -->
<!-- Toolbar -->
<!-- <div class="toolbar" role="banner">
  <span>Amar</span>
  <div class="spacer"></div>
  
</div> -->
<!-- <div class="sidebar">
  <div class="navbar navbar-default">
    <div id="dock-container">
      <div id="dock">
        <ul class="nav navbar-nav">
           <li *ngFor="let a of routes">
             <a routerLink="{{a.url}}" routerLinkActive="active">
             
              <img src="assets/{{a.img}}"/> 
            </a>
           </li>
           
        </ul>
      </div>
     </div>
  </div>

</div> -->
    
    <div class="wrapper">
      <router-outlet></router-outlet>
    </div>
