/* You can add global styles to this file, and also import other style files */
/* @import '~font-awesome/css/font-awesome.css'; */
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~primeicons/primeicons.css';
@import '~primeflex/themes/arya-blue.css';
@import '~primeng-lts/resources/primeng.min.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.crs{
  cursor: pointer  ;
}
.list-header{
    background: #ddd   ;
    color: #444;
    padding-right: 10px;text-align: right!important;
  }
  .a-tleft-bdr{
    border-top-left-radius:30px;    
    
  }
  .a-tright-bdr{
    border-top-right-radius:30px;    
  }
  .a-bleft-bdr{
    border-bottom-left-radius:30px;    
  }
  .a-bright-bdr{
    border-bottom-right-radius:30px;    
  }
  .bgc1{
    background-color: #fff!important;background: #fff!important;
  }
  .panel{
    background: transparent;
    border-color: transparent;
  
  }
  .bdr1{
    /* border:1px solid #ddd; */
    padding: 0;overflow: hidden;
    
  }
  .row-eq-height{
    margin-bottom: 5px!important;
  }