.lgn-wrapper{
    position: absolute;width: 100%;top:50%;left:0;right:0;transform: translateY(-50%);
  }
  .card{
      /* height: 300px; */
background-color: #f3f3f3;
  }
  .bg1{
      margin-top:3em
  }
  label{color:#fff}
  .hero {
    display: block;
    box-sizing: border-box;
    height: 500px;
    /* border:1px solid #888; */
    background: linear-gradient(#669cc3,#75b798);
    clip-path: ellipse(75% 100% at 65% 0%);
    }
  .bg {
    background-color: dodgerblue;
    background-size: cover;
    -webkit-background-size: cover;
    width: 100%;
    height: 500px;
    overflow: hidden;
    position: relative;
    /*below show how it works*/
  }
  .bg:after {
    content: "";
    width: 200%;
    height: 0;
    padding-top: 200%;
    border-radius: 100%;
    background: #f7f7f7;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  